<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@project.namespace@" abbrev="@project.abbrev@" version="@project.version@" spec="1.0">
    <title>@project.title@</title>
    <dependency package="http://exist-db.org/apps/markdown"/>
    <dependency package="http://exist-db.org/apps/monex"/>
</package>
